@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0043de;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #0043de;
}

body {
  height: auto;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 33, 61, 1) 90%,
    rgba(20, 33, 60, 1) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown {
  top: -420%;
  right: 0;
  transition: all ease-out 0.3s;
}

.dropdown__inner {
  overflow: hidden;
}

.dropdown.is-open {
  top: 100%;
}
