@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 33, 61, 1) 90%,
    rgba(20, 33, 60, 1) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown {
  top: -420%;
  right: 0;
  transition: all ease-out 0.3s;
}

.dropdown__inner {
  overflow: hidden;
}

.dropdown.is-open {
  top: 100%;
}
